*.class
*.iml
.classpath
.project
bin*/
dist/
src/missing_api.txt
.settings/
lib/bukkit-1.9-R0.1-SNAPSHOT.jar
.idea/
out/
lib/Residence.jar
lib/NoCheatPlus.jar
lib/PlaceholderAPI.jar
lib/GriefPrevention.jar
build/
.gradle/
server/
.DS_Store